<header>
  <nav class="navbar navbar-default cs-navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand cs-navbar-brand" href="#">
          <a class="cs-logo" href="/#/">
            <img src="/images/cs.svg" height="51" width="51">
            CommitStrip
          </a>
          <span ng-show="g.current.position.total">
            <span ng-bind="g.current.position.id + '/' + g.current.position.total"></span>
            <a href="{{ g.current.url }}" target="_blank" ng-bind="g.current.title"></a>
            <small ng-bind="g.current.date | date: 'yy-MM-dd hh:mm'"></small>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
<div class="container" ng-view>
</div>
