<div class="cs-search">
  <input type="text" class="form-control" ng-model="home.search"
    ng-model-options="{debounce: 200}" placeholder="Search CommitStrips">
</div>

<table class="table table-hover cs-table">
  <tbody>
    <tr ng-repeat="CommitStrip in home.CommitStrips | filter:home.search">
      <td ng-bind="home.CommitStrips.length - $index"></td>
      <td class="cs-table-title">
        <a href="/#/{{$index}}" ng-bind="CommitStrip.title"></a>
      </td>
      <td ng-bind="CommitStrip.date" class="cs-table-date"></td>
    </tr>
  </tbody>
</table>
