<article>
  <div class="row">
    <div class="col-sm-5">
      <form class="form" ng-submit="main.save()">
        <div class="form-group">
          <h3>Content</h3>
          <textarea class="form-control cs-textarea" rows="20"
            style="height: {{ (main.last.textareaHeight || 600) - 200 }}px;"
            textarea-with-hotkeys
            twh-save="main.save()"
            twh-gotoempty="main.gotoempty()"
            twh-prev="{{ main.id < main.cs.length && main.id + 1 || main.cs.length }}"
            twh-next="{{ main.id > 2 && main.id - 1 || 1 }}"
            twh-first="1"
            twh-last="{{ main.cs.length }}"
            ng-change="main.change()"
            ng-model="main.cs[main.index].content"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-default" type="submit"
            ng-disabled="!main.cs[main.index]._changed">Save Content
            <span class="badge cs-badge">CMD-Enter</span></button>
          <span class="btn-group">
            <a class="btn btn-default"
              href="/#/{{ main.id + 1 }}"
              ng-class="{ disabled: main.id >= main.cs.length }">Previous
              <span class="badge cs-badge">CMD-[</span></a>
            <a class="btn btn-default"
              href="/#/{{ main.id - 1 }}"
              ng-class="{ disabled: main.id < 2 }">Next
              <span class="badge cs-badge">CMD-]</span></a>
          </span>
        </div>
        <div class="form-group">
          <a class="btn btn-default" ng-click="main.gotoempty()">Go to Empty
            <span class="badge cs-badge">CMD-E</span></a>
          <span class="btn-group">
            <a class="btn btn-default"
              href="/#/{{ main.cs.length }}"
              ng-class="{ disabled: main.id === main.cs.length }">First
              <span class="badge cs-badge">CMD-H</span></a>
            <a class="btn btn-default"
              href="/#/1"
              ng-class="{ disabled: main.id === 1 }">Last
              <span class="badge cs-badge">CMD-L</span></a>
          </span>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-6">
              <input class="form-control" type="text" ng-model="g.current.username"
                placeholder="Username" ng-change="main.lS('username')">
            </div>
            <div class="col-xs-6">
              <input class="form-control" type="password" ng-model="g.current.password"
                placeholder="Password" ng-change="main.lS('password')">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-7">
      <div class="cs-image" ng-repeat="image in main.cs[main.index].image">
        <a href="{{ image }}" target="_blank">
          <img ng-src="{{ image }}" alt="CommitStrip"
            show-when-load-completes assign-height-to="main.last.textareaHeight">
        </a>
      </div>
    </div>
  </div>
</article>
