<div class="text-right">
  <em>{{ main.index + 1 }} / {{ main.cs.length }}</em>
</div>

<article>
  <h2 class="text-center">
    <a href="{{ main.cs[main.index].url }}" target="_blank"
      ng-bind="main.cs[main.index].title"></a>
  </h2>
  <h5 class="text-center"
    ng-bind="main.cs[main.index].date | date: 'yyyy-MM-dd hh:mm:ss'"></h5>
  <div class="row">
    <div class="col-sm-5">
      <form class="form" ng-submit="main.save()">
        <div class="form-group">
          <h3>Content</h3>
          <textarea class="form-control" rows="15"
            textarea-with-hotkeys
            twh-save="main.save()"
            twh-prev="{{ main.index > 1 && main.index - 1 || 0 }}"
            twh-next="{{ main.index < main.cs.length - 1 && main.index + 1 || main.cs.length - 1 }}"
            ng-change="main.cs[main.index]._changed = true"
            ng-model="main.cs[main.index].content"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-default" type="submit"
            ng-disabled="!main.cs[main.index]._changed">Save Content
            <span class="badge cs-badge">CMD-Enter</span></button>
          <span class="btn-group">
            <a class="btn btn-default"
              href="/#/{{ main.index - 1 }}"
              ng-class="{ disabled: main.index < 1 }">Previous
              <span class="badge cs-badge">CMD-[</span></a>
            <a class="btn btn-default"
              href="/#/{{ main.index + 1 }}"
              ng-class="{ disabled: main.index >= main.cs.length - 1 }">Next
              <span class="badge cs-badge">CMD-]</span></a>
          </span>
        </div>
      </form>
    </div>
    <div class="col-sm-7">
      <div class="cs-image">
        <a href="{{ main.cs[main.index].image }}" target="_blank">
          <img ng-src="{{ main.cs[main.index].image }}" alt="CommitStrip"
            show-when-load-completes>
        </a>
      </div>
    </div>
  </div>
</article>
