<article>
  <div class="row">
    <div class="col-sm-5">
      <form class="form" ng-submit="main.save()">
        <div class="form-group">
          <h3>Content</h3>
          <textarea class="form-control cs-textarea" rows="20"
            style="height: {{ (main.last.textareaHeight || 600) - 200 }}px;"
            textarea-with-hotkeys
            twh-save="main.save()"
            twh-gotoempty="main.gotoempty()"
            twh-prev="{{ main.index > 1 && main.index - 1 || 0 }}"
            twh-next="{{ main.index < main.cs.length - 1 && main.index + 1 || main.cs.length - 1 }}"
            twh-first="0"
            twh-last="{{ main.cs.length - 1 }}"
            ng-change="main.change()"
            ng-model="main.cs[main.index].content"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-default" type="submit"
            ng-disabled="!main.cs[main.index]._changed">Save Content
            <span class="badge cs-badge">CMD-Enter</span></button>
          <span class="btn-group">
            <a class="btn btn-default"
              href="/#/{{ main.index - 1 }}"
              ng-class="{ disabled: main.index < 1 }">Previous
              <span class="badge cs-badge">CMD-[</span></a>
            <a class="btn btn-default"
              href="/#/{{ main.index + 1 }}"
              ng-class="{ disabled: main.index >= main.cs.length - 1 }">Next
              <span class="badge cs-badge">CMD-]</span></a>
          </span>
        </div>
        <div class="form-group">
          <a class="btn btn-default" ng-click="main.gotoempty()">Go to Empty
            <span class="badge cs-badge">CMD-E</span></a>
          <span class="btn-group">
            <a class="btn btn-default"
              href="/#/0"
              ng-class="{ disabled: main.index === 0 }">First
              <span class="badge cs-badge">CMD-H</span></a>
            <a class="btn btn-default"
              href="/#/{{ main.cs.length - 1 }}"
              ng-class="{ disabled: main.index === main.cs.length - 1 }">Last
              <span class="badge cs-badge">CMD-L</span></a>
          </span>
        </div>
      </form>
    </div>
    <div class="col-sm-7">
      <div class="cs-image">
        <a href="{{ main.cs[main.index].image }}" target="_blank">
          <img ng-src="{{ main.cs[main.index].image }}" alt="CommitStrip"
            show-when-load-completes assign-height-to="main.last.textareaHeight">
        </a>
      </div>
    </div>
  </div>
</article>
