.cs-logo {
  text-decoration: none;
}

.cs-logo:hover {
  text-decoration: none;
}

.cs-navbar {
  margin-bottom: 0;
}

.cs-image {
  text-align: center;
}

.cs-image img {
  max-width: 100%;
}

.cs-textarea {
  font-family: monospace;
  transition: all 0.3s ease;
  min-height: 100px;
}

.cs-badge {
  text-shadow: none;
  font-weight: normal;
  font-size: 12px;
  font-family: monospace;
}

.cs-navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.cs-navbar-brand img {
  margin-top: -1px;
}

.cs-search {
  margin: 10px 40px;
}

.cs-list {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cs-list li {
  font-family: monospace;
}

.cs-list li a {
  display: block;
}
