.cs-image {
  text-align: center;
}

.cs-image img {
  max-width: 100%;
}

.cs-textarea {
  font-family: monospace;
  transition: all 0.3s ease;
}

.cs-badge {
  text-shadow: none;
  font-weight: normal;
  font-size: 12px;
  font-family: monospace;
}
